# 로그수익률 구하는 기법

In [2]:
import datetime as dt
import pandas as pd
import numpy as np
from pykrx import stock
from pykrx import bond
import warnings
warnings.filterwarnings('ignore')

In [3]:
총기법분기종목선정수익률 = pd.read_csv('./총기법분기종목선정수익률.csv')
코스피리스트 = pd.read_csv('./코스피A리스트.csv')

In [4]:
총기법분기종목선정수익률

,시작날짜,매도날짜,포트폴리오종목명,수익률,누적수익률,재무비율방식,연도
0,20121004,20130329,"['NAVER', '강원랜드', '에스원', '카카오', '우진']",0.098033,1.098033,유동성종목,201206
1,20130404,20130929,"['유한양행', '동서', '빙그레', '카카오', '남양유업']",-0.034313,1.026043,유동성종목,201212
2,20131004,20140329,"['동서', '신도리코', '모토닉', '일신방직', '삼영무역']",0.139352,1.308376,유동성종목,201306
3,20140404,20140929,"['고려아연', '엔씨소프트', '영원무역', '동서', 'NHN']",0.103336,1.546915,유동성종목,201312
4,20141004,20150329,"['엔씨소프트', '동서', '카카오', 'NHN', '신도리코']",0.047289,1.667356,유동성종목,201406
...,...,...,...,...,...,...,...
195,20200404,20200929,"['카카오', '넷마블', '강원랜드', '한진칼', 'GS']",0.309646,0.840940,활동성종목,201912
196,20201004,20210329,"['카카오', '엔씨소프트', '넷마블', '강원랜드', '한진칼']",0.042612,0.919387,활동성종목,202006
197,20210404,20210929,"['카카오', '엔씨소프트', '넷마블', 'HMM', '강원랜드']",0.026522,0.970292,활동성종목,202012
198,20211004,20220329,"['카카오', '엔씨소프트', 'HMM', '넷마블', '강원랜드']",-0.032669,0.905924,활동성종목,202106
199,20220404,20220929,"['NAVER', '카카오', 'HMM', '넷마블', '강원랜드']",-0.722051,-0.470250,활동성종목,202112

In [5]:
코스피리스트['종목코드'] = 코스피리스트['code'].str.extract(r'(\d\d\d\d\d\d)')

In [6]:
레버리지기법 = 총기법분기종목선정수익률[총기법분기종목선정수익률['재무비율방식']=='레버리지종목']

In [7]:
레버리지기법

,시작날짜,매도날짜,포트폴리오종목명,수익률,누적수익률,재무비율방식,연도
20,20121004,20130329,"['아모레퍼시픽', '아모레G', '한전기술', '제일기획', '카카오']",-0.041309,0.958691,레버리지종목,201206
21,20130404,20130929,"['강원랜드', '아모레퍼시픽', '한전기술', '엔씨소프트', '아모레G']",-0.013124,0.932986,레버리지종목,201212
22,20131004,20140329,"['강원랜드', '아모레퍼시픽', '엔씨소프트', '아모레G', '제일기획']",0.211271,1.341369,레버리지종목,201306
23,20140404,20140929,"['아모레퍼시픽', '강원랜드', '엔씨소프트', '아모레G', '한전KPS']",0.311604,2.070949,레버리지종목,201312
24,20141004,20150329,"['아모레퍼시픽', '아모레G', '강원랜드', '고려아연', '엔씨소프트']",0.239323,2.805898,레버리지종목,201406
25,20150404,20150929,"['NAVER', '삼성에스디에스', '아모레퍼시픽', '아모레G', '고려아연']",0.071641,3.078557,레버리지종목,201412
26,20151004,20160329,"['아모레퍼시픽', '삼성에스디에스', 'NAVER', 'KT&G', '아모레G']",-0.083557,2.737765,레버리지종목,201506
27,20160404,20160929,"['아모레퍼시픽', 'NAVER', 'KT&G', '삼성에스디에스', '아모레G']",0.113724,3.162838,레버리지종목,201512
28,20161004,20170329,"['NAVER', '아모레퍼시픽', 'KT&G', '아모레G', '삼성에스디에스']",-0.167019,2.467565,레버리지종목,201606
29,20170404,20170929,"['NAVER', '아모레퍼시픽', 'KT&G', '삼성에스디에스', '아모레G']",0.038449,2.600889,레버리지종목,201612
30,20171004,20180329,"['NAVER', '아모레퍼시픽', 'KT&G', '삼성에스디에스', '아모레G']",0.170387,3.214432,레버리지종목,201706
31,20180404,20180929,"['SK하이닉스', 'NAVER', '아모레퍼시픽', '삼성에스디에스', 'KT&G']",-0.061517,2.955171,레버리지종목,201712
32,20181004,20190329,"['삼성전자', 'SK하이닉스', 'LG생활건강', '삼성에스디에스', 'KT&G']",0.092379,3.320547,레버리지종목,201806
33,20190404,20190929,"['SK하이닉스', '삼성에스디에스', 'KT&G', '아모레퍼시픽', '엔씨소프트']",-0.070381,3.016462,레버리지종목,201812
34,20191004,20200329,"['KT&G', '고려아연', '강원랜드', '에스원', '동서']",-0.225969,2.108865,레버리지종목,201906
35,20200404,20200929,"['KT&G', '고려아연', '강원랜드', '에스원', '동서']",0.194577,2.713779,레버리지종목,201912
36,20201004,20210329,"['엔씨소프트', 'KT&G', '고려아연', '에스원', '동서']",0.048292,2.893125,레버리지종목,202006
37,20210404,20210929,"['KT&G', '고려아연', '동서', '에스원', '대한유화']",-0.024105,2.799279,레버리지종목,202012
38,20211004,20220329,"['삼성전자', '크래프톤', 'LG생활건강', 'LG', 'KT&G']",-0.230602,1.923156,레버리지종목,202106
39,20220404,20220929,"['삼성전자', '고려아연', 'DB하이텍', '에스원', '동서']",-0.401022,0.750907,레버리지종목,202112

In [8]:
레버리지기법['시작날짜']  = 레버리지기법['시작날짜'].astype(str)
레버리지기법['매도날짜']  = 레버리지기법['매도날짜'].astype(str)

In [9]:
시작날짜_list = 레버리지기법['시작날짜'].tolist()

In [10]:
시작날짜_list = [str(x) for x in 시작날짜_list]
시작날짜_list

['20121004',
 '20130404',
 '20131004',
 '20140404',
 '20141004',
 '20150404',
 '20151004',
 '20160404',
 '20161004',
 '20170404',
 '20171004',
 '20180404',
 '20181004',
 '20190404',
 '20191004',
 '20200404',
 '20201004',
 '20210404',
 '20211004',
 '20220404']

In [16]:
매수날짜_list = 시작날짜_list

In [19]:
매수날짜_list = ['20121001',
 '20130401',
 '20131001',
 '20140401',
 '20141001',
 '20150401',
 '20151001',
 '20160401',
 '20161001',
 '20170401',
 '20171001',
 '20180401',
 '20181001',
 '20190401',
 '20191001',
 '20200401',
 '20201001',
 '20210401',
 '20211001',
 '20220401']

In [11]:
매도날짜_list = 레버리지기법['매도날짜'].tolist()

In [12]:
매도날짜_list = [str(x) for x in 매도날짜_list]
매도날짜_list

['20130329',
 '20130929',
 '20140329',
 '20140929',
 '20150329',
 '20150929',
 '20160329',
 '20160929',
 '20170329',
 '20170929',
 '20180329',
 '20180929',
 '20190329',
 '20190929',
 '20200329',
 '20200929',
 '20210329',
 '20210929',
 '20220329',
 '20220929']

In [18]:
매도날짜_list = ['20130331',
 '20130930',
 '20140331',
 '20140930',
 '20150331',
 '20150930',
 '20160331',
 '20160930',
 '20170331',
 '20170930',
 '20180331',
 '20180930',
 '20190331',
 '20190930',
 '20200331',
 '20200930',
 '20210331',
 '20210930',
 '20220331',
 '20220930']

## 시작

In [24]:
stocks = 레버리지기법['포트폴리오종목명'].tolist()[18]
type(stocks)
stocks

"['삼성전자', '크래프톤', 'LG생활건강', 'LG', 'KT&G']"

In [25]:
import ast
stocks = ast.literal_eval(stocks)

In [26]:
print(stocks) 
code_list = []

for 종목 in stocks:
    code_list.append(코스피리스트['종목코드'][코스피리스트['company']== 종목].tolist())
code_list = sum(code_list,[])
code_list

['삼성전자', '크래프톤', 'LG생활건강', 'LG', 'KT&G']

['005930', '259960', '051900', '003550', '033780']

In [27]:
종가 = pd.DataFrame()
가중치 = np.array([0.2,0.2,0.2,0.2,0.2])  # 5종목이니까 자금의 20%씩
for ticker in code_list:
    df = stock.get_market_ohlcv(매수날짜_list[18], 매도날짜_list[18], ticker)
    종가 = pd.concat([종가,df['종가']],axis=1)
종가.columns = stocks
종가

#종가데이터로 수익률 계산하기.

# 일별수익률 = 종가.pct_change()
# 수익률 = pd.DataFrame()
# 수익률['일별수익률'] = (일별수익률['KT&G'] + 일별수익률['NAVER'] + 일별수익률['아모레G'] + 일별수익률['롯데지주'] + 일별수익률['에스원']) / 5
# 일별수익률
# 연간단순수익률 = np.sum(일별수익률.mean()*가중치)*250
# 수익률

# print(연간단순수익률)
# print(수익률.mean()*250)
# 시작날짜_list.append(시작날짜)
# 매도날짜_list.append(매도날짜)
# 포트폴리오종목명_list.append(포트폴리오종목명)
# 연간수익률_list.append(연간단순수익률)

             삼성전자    크래프톤   LG생활건강     LG   KT&G
2021-10-01  73200  498000  1331000  93000  80800
2021-10-05  72200  463000  1346000  93100  80700
2021-10-06  71300  454000  1327000  89900  80400
2021-10-07  71600  474000  1380000  92300  81300
2021-10-08  71500  470000  1384000  91900  80700
...           ...     ...      ...    ...    ...
2022-03-25  69800  278500   867000  74200  80800
2022-03-28  69700  271500   835000  74600  80800
2022-03-29  70200  273000   859000  75100  81100
2022-03-30  69900  272500   863000  74800  80900
2022-03-31  69600  275500   858000  76400  80700

[122 rows x 5 columns]

In [28]:
종가['로그수익률1'] = np.log(종가.iloc[:,0]) - np.log(종가.iloc[:,0].shift(1))
종가['로그수익률2'] = np.log(종가.iloc[:,1]) - np.log(종가.iloc[:,1].shift(1))
종가['로그수익률3'] = np.log(종가.iloc[:,2]) - np.log(종가.iloc[:,2].shift(1))
종가['로그수익률4'] = np.log(종가.iloc[:,3]) - np.log(종가.iloc[:,3].shift(1))
종가['로그수익률5'] = np.log(종가.iloc[:,4]) - np.log(종가.iloc[:,4].shift(1))

종가

,삼성전자,크래프톤,LG생활건강,LG,KT&G,로그수익률1,로그수익률2,로그수익률3,로그수익률4,로그수익률5
2021-10-01,73200,498000,1331000,93000,80800,NaN,NaN,NaN,NaN,NaN
2021-10-05,72200,463000,1346000,93100,80700,-0.013755,-0.072873,0.011207,0.001075,-0.001238
2021-10-06,71300,454000,1327000,89900,80400,-0.012544,-0.019630,-0.014216,-0.034976,-0.003724
2021-10-07,71600,474000,1380000,92300,81300,0.004199,0.043110,0.039163,0.026346,0.011132
2021-10-08,71500,470000,1384000,91900,80700,-0.001398,-0.008475,0.002894,-0.004343,-0.007407
...,...,...,...,...,...,...,...,...,...,...
2022-03-25,69800,278500,867000,74200,80800,0.000000,-0.007156,0.002309,-0.017369,-0.001237
2022-03-28,69700,271500,835000,74600,80800,-0.001434,-0.025456,-0.037607,0.005376,0.000000
2022-03-29,70200,273000,859000,75100,81100,0.007148,0.005510,0.028337,0.006680,0.003706
2022-03-30,69900,272500,863000,74800,80900,-0.004283,-0.001833,0.004646,-0.004003,-0.002469
2022-03-31,69600,275500,858000,76400,80700,-0.004301,0.010949,-0.005811,0.021165,-0.002475

In [29]:
종가['일별로그수익률'] = (종가['로그수익률1'] + 종가['로그수익률2'] + 종가['로그수익률3'] + 종가['로그수익률4'] + 종가['로그수익률5']) / 5
종가

,삼성전자,크래프톤,LG생활건강,LG,KT&G,로그수익률1,로그수익률2,로그수익률3,로그수익률4,로그수익률5,일별로그수익률
2021-10-01,73200,498000,1331000,93000,80800,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-05,72200,463000,1346000,93100,80700,-0.013755,-0.072873,0.011207,0.001075,-0.001238,-0.015117
2021-10-06,71300,454000,1327000,89900,80400,-0.012544,-0.019630,-0.014216,-0.034976,-0.003724,-0.017018
2021-10-07,71600,474000,1380000,92300,81300,0.004199,0.043110,0.039163,0.026346,0.011132,0.024790
2021-10-08,71500,470000,1384000,91900,80700,-0.001398,-0.008475,0.002894,-0.004343,-0.007407,-0.003746
...,...,...,...,...,...,...,...,...,...,...,...
2022-03-25,69800,278500,867000,74200,80800,0.000000,-0.007156,0.002309,-0.017369,-0.001237,-0.004690
2022-03-28,69700,271500,835000,74600,80800,-0.001434,-0.025456,-0.037607,0.005376,0.000000,-0.011824
2022-03-29,70200,273000,859000,75100,81100,0.007148,0.005510,0.028337,0.006680,0.003706,0.010276
2022-03-30,69900,272500,863000,74800,80900,-0.004283,-0.001833,0.004646,-0.004003,-0.002469,-0.001588
2022-03-31,69600,275500,858000,76400,80700,-0.004301,0.010949,-0.005811,0.021165,-0.002475,0.003905

In [262]:
일별로그수익률_2022 = 종가['일별로그수익률']

In [263]:
일별로그수익률_2022

2022-04-01         NaN
2022-04-04   -0.002709
2022-04-05    0.001861
2022-04-06   -0.014383
2022-04-07   -0.015570
2022-04-08   -0.001718
2022-04-11    0.000198
2022-04-12   -0.007272
2022-04-13    0.022134
2022-04-14   -0.002804
2022-04-15   -0.016772
2022-04-18    0.011149
2022-04-19    0.007144
2022-04-20    0.008293
2022-04-21    0.008251
2022-04-22   -0.012174
2022-04-25   -0.030586
2022-04-26    0.001479
2022-04-27   -0.010527
2022-04-28    0.010383
2022-04-29    0.008640
2022-05-02    0.000086
2022-05-03   -0.007335
2022-05-04   -0.003867
2022-05-06   -0.021694
2022-05-09   -0.019313
2022-05-10    0.004609
2022-05-11    0.004382
2022-05-12   -0.040458
2022-05-13    0.028608
Name: 일별로그수익률, dtype: float64

In [264]:
일별로그수익률_list = [일별로그수익률_2005,
일별로그수익률_2006,
일별로그수익률_2007,
일별로그수익률_2008,
일별로그수익률_2009,
일별로그수익률_2010,
일별로그수익률_2011,
일별로그수익률_2012,
일별로그수익률_2013,
일별로그수익률_2014,
일별로그수익률_2015,
일별로그수익률_2016,
일별로그수익률_2017,
일별로그수익률_2018,
일별로그수익률_2019,
일별로그수익률_2020,
일별로그수익률_2021,
일별로그수익률_2022]

In [268]:
레버리지로그수익률 = pd.DataFrame()
for 로그 in 일별로그수익률_list:
    
    레버리지로그수익률 = pd.concat([레버리지로그수익률,로그],axis=0)
    
레버리지로그수익률

                   0
2005-04-01       NaN
2005-04-04 -0.004507
2005-04-06  0.015333
2005-04-07 -0.006284
2005-04-08  0.001610
...              ...
2022-05-09 -0.019313
2022-05-10  0.004609
2022-05-11  0.004382
2022-05-12 -0.040458
2022-05-13  0.028608

[4234 rows x 1 columns]

In [312]:
test = 일별로그수익률_2020.copy()
test.isna().sum()

1

In [309]:
test = test.fillna(0)

In [314]:
np.sum(test.mean())*250

1.6766323930338058

In [313]:
test.iloc[0]  = 1
test

2020-04-01    1.000000
2020-04-02    0.031864
2020-04-03    0.006671
2020-04-06    0.037632
2020-04-07    0.012749
                ...
2021-03-25   -0.002934
2021-03-26   -0.008825
2021-03-29    0.006947
2021-03-30    0.001862
2021-03-31    0.001780
Name: 일별로그수익률, Length: 246, dtype: float64

In [315]:
누적수익률= (1+test).cumprod()-1 
누적수익률

2020-04-01    1.000000
2020-04-02    1.063728
2020-04-03    1.077495
2020-04-06    1.155676
2020-04-07    1.183158
                ...
2021-03-25    2.677145
2021-03-26    2.644694
2021-03-29    2.670015
2021-03-30    2.676848
2021-03-31    2.683394
Name: 일별로그수익률, Length: 246, dtype: float64

In [269]:
레버리지로그수익률.columns=['레버리지기법']

In [272]:
# 레버리지로그수익률.to_csv('레버리지로그수익률.csv',index=True)

In [339]:
시장가치로그수익률 = pd.read_csv('./시장가치로그수익률.csv')
레버리지로그수익률 = pd.read_csv('./레버리지로그수익률.csv')
그레이엄로그수익률 = pd.read_csv('./그레이엄로그수익률.csv')

In [30]:
총기법분기종목선정수익률['재무비율방식'].unique()

array(['유동성종목', '레버리지종목', '그레이엄종목', '린치종목', '버핏종목', '삼대투자종목', '성장성종목',
       '수익성종목', '시장가치종목', '활동성종목'], dtype=object)

In [58]:
from datetime import datetime, timedelta
import ast

def 로그수익률함수():
    
    전체로그수익률 = pd.DataFrame()

    기법 = 총기법분기종목선정수익률[총기법분기종목선정수익률['재무비율방식']=='활동성종목']
    매수날짜_list = ['20121001',
                     '20130401',
                     '20131001',
                     '20140401',
                     '20141001',
                     '20150401',
                     '20151001',
                     '20160401',
                     '20161001',
                     '20170401',
                     '20171001',
                     '20180401',
                     '20181001',
                     '20190401',
                     '20191001',
                     '20200401',
                     '20201001',
                     '20210401',
                     '20211001',
                     '20220401']
    # -----------------------------------------------------------------------------
    매도날짜_list = ['20130331',
                     '20130930',
                     '20140331',
                     '20140930',
                     '20150331',
                     '20150930',
                     '20160331',
                     '20160930',
                     '20170331',
                     '20170930',
                     '20180331',
                     '20180930',
                     '20190331',
                     '20190930',
                     '20200331',
                     '20200930',
                     '20210331',
                     '20210930',
                     '20220331',
                     '20220930']
    # -----------------------------------------------------------------------------
    # len(기법['포트폴리오종목명'].tolist())

    for i , e in enumerate(기법['포트폴리오종목명'].tolist()):
        stocks = 기법['포트폴리오종목명'].tolist()[i]  #i번쨰
        stocks = ast.literal_eval(stocks)

        code_list = []

        for 종목 in stocks:
            code_list.append(코스피리스트['종목코드'][코스피리스트['company']== 종목].tolist())
        code_list = sum(code_list,[])

        종가 = pd.DataFrame()
        가중치 = np.array([0.2,0.2,0.2,0.2,0.2])  # 5종목이니까 자금의 20%씩
        for ticker in code_list:
            df = stock.get_market_ohlcv(매수날짜_list[i], 매도날짜_list[i], ticker)
            종가 = pd.concat([종가,df['종가']],axis=1)
        종가.columns = stocks

        종가['로그수익률1'] = np.log(종가.iloc[:,0]) - np.log(종가.iloc[:,0].shift(1))
        종가['로그수익률2'] = np.log(종가.iloc[:,1]) - np.log(종가.iloc[:,1].shift(1))
        종가['로그수익률3'] = np.log(종가.iloc[:,2]) - np.log(종가.iloc[:,2].shift(1))
        종가['로그수익률4'] = np.log(종가.iloc[:,3]) - np.log(종가.iloc[:,3].shift(1))
        종가['로그수익률5'] = np.log(종가.iloc[:,4]) - np.log(종가.iloc[:,4].shift(1))

        종가['일별로그수익률'] = (종가['로그수익률1'] + 종가['로그수익률2'] + 종가['로그수익률3'] + 종가['로그수익률4'] + 종가['로그수익률5']) / 5

        일별로그수익률 = 종가['일별로그수익률']

        전체로그수익률 = pd.concat([전체로그수익률,일별로그수익률],axis=0)


    전체로그수익률.columns=['활동성기법']
    
    return 전체로그수익률

In [59]:
전체로그수익률 = 로그수익률함수()
전체로그수익률

               활동성기법
2012-10-02       NaN
2012-10-04 -0.003372
2012-10-05  0.004538
2012-10-08 -0.003215
2012-10-09  0.000669
...              ...
2022-05-11  0.015242
2022-05-12 -0.016900
2022-05-13 -0.010376
2022-05-16 -0.003802
2022-05-17 -0.002245

[2367 rows x 1 columns]

In [60]:
활동성로그수익률 = 전체로그수익률

In [61]:
분기로그수익률_list  = [유동성로그수익률,             
                레버리지로그수익률,그레이엄로그수익률,린치로그수익률,버핏로그수익률,
               삼대투자로그수익률,성장성로그수익률,수익성로그수익률,시장가치로그수익률,활동성로그수익률]

In [62]:
분기로그수익률전체 = pd.concat(분기로그수익률_list,axis=1)

In [70]:
분기로그수익률전체 = 분기로그수익률전체.fillna(0)

In [71]:
분기로그수익률전체.to_csv('분기로그수익률전체.csv',index=True)

In [21]:
for i , e in enumerate(기법['포트폴리오종목명'].tolist()):
    print(i,e)

0 ['삼성전자', 'KT&G', '삼성SDI', '아모레G', '농심']
1 ['KT&G', 'NAVER', '아모레G', '롯데지주', '에스원']
2 ['KT&G', 'NAVER', '현대미포조선', '롯데지주', '롯데칠성']
3 ['NAVER', 'KT&G', '현대미포조선', '아모레퍼시픽', '에스원']
4 ['KT&G', '아모레퍼시픽', '엔씨소프트', '유한양행', '동서']
5 ['KT&G', '아모레퍼시픽', '강원랜드', '엔씨소프트', '유한양행']
6 ['LG화학', 'KT&G', '아모레퍼시픽', '엔씨소프트', '현대미포조선']
7 ['KT&G', '고려아연', '엔씨소프트', '아모레퍼시픽', '강원랜드']
8 ['삼성전자', '현대모비스', 'NAVER', 'KT&G', '고려아연']
9 ['삼성전자', '현대모비스', 'NAVER', 'KT&G', '아모레퍼시픽']
10 ['삼성전자', 'NAVER', '삼성에스디에스', '아모레퍼시픽', '기아']
11 ['현대모비스', '아모레퍼시픽', 'NAVER', 'SK하이닉스', 'KT&G']
12 ['삼성전자', 'NAVER', '현대모비스', '아모레퍼시픽', 'KT&G']
13 ['삼성전자', 'SK하이닉스', 'NAVER', 'LG생활건강', '아모레퍼시픽']
14 ['삼성전자', 'SK하이닉스', 'LG생활건강', 'NAVER', '삼성에스디에스']
15 ['삼성전자', 'NAVER', 'LG생활건강', '엔씨소프트', '삼성에스디에스']
16 ['삼성전자', 'NAVER', '셀트리온', 'LG생활건강', '엔씨소프트']
17 ['삼성전자', 'SK하이닉스', '셀트리온', '현대모비스', 'LG생활건강']