In [2]:
import pandas as pd

In [3]:
kospi = pd.read_csv('./kospi.csv')

C:\AI\pythonProject\venv\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
# kospi[kospi['name_ko'].str.contains('현금흐름')]

,Unnamed: 0,date,symbol,entity_name,type_id,report_id,account_id,name_ko,value
239,239,19961231,1880,DL건설,K,16,1000,영업활동으로인한현금흐름,-2.344648e+09
270,270,19961231,1880,DL건설,K,16,2000,투자활동으로인한현금흐름,-2.257801e+10
305,305,19961231,1880,DL건설,K,16,3000,재무활동으로인한현금흐름,2.306745e+10
373,373,19961231,1880,DL건설,K,19,2255,영업활동현금흐름이자보상비율,0.000000e+00
756,756,19971231,1880,DL건설,K,16,1000,영업활동으로인한현금흐름,4.808226e+10
...,...,...,...,...,...,...,...,...,...
5663005,5664442,20211231,267270,현대건설기계,K,26,7420,현금흐름위험회피파생상품평가손실,-6.108758e+09
5663136,5664573,20211231,267270,현대건설기계,K,16,1000,영업활동으로인한현금흐름,-1.959809e+11
5663178,5664615,20211231,267270,현대건설기계,K,16,2000,투자활동으로인한현금흐름,8.721156e+10
5663206,5664643,20211231,267270,현대건설기계,K,16,3000,재무활동으로인한현금흐름,-1.752551e+11
5663271,5664708,20211231,267270,현대건설기계,K,19,2255,영업활동현금흐름이자보상비율,-6.000000e-02

In [5]:
kospi2 = pd.read_csv('./코스피수정0428.csv')

In [7]:
kospi.head()

,Unnamed: 0,date,symbol,entity_name,type_id,report_id,account_id,name_ko,value
0,0,19961231,1880,DL건설,K,11,1100,현금및현금등가물,2.002153e+09
1,1,19961231,1880,DL건설,K,11,1130,예금,2.002153e+09
2,2,19961231,1880,DL건설,K,11,1131,당좌예금,7.622000e+06
3,3,19961231,1880,DL건설,K,11,1134,기타예금,1.994531e+09
4,4,19961231,1880,DL건설,K,11,1140,단기투자증권,5.510902e+09

In [134]:
kospi['name_ko'][kospi['name_ko'].str.contains('매출액영업이익율') == True].unique()

array(['매출액영업이익율'], dtype=object)

In [135]:
len(kospi[kospi['name_ko']=='매출액영업이익율'].index)

11830

In [68]:
# kospi[kospi['name_ko']=='재고자산회전율2']

In [137]:
부채비율  = kospi[kospi['name_ko']=='부채비율']
비유동자산장기적합율  = kospi[kospi['name_ko']=='비유동자산장기적합율']
영업활동현금흐름이자보상비율 = kospi[kospi['name_ko']=='영업활동현금흐름이자보상비율']
매출액증가율  = kospi[kospi['name_ko']=='매출액증가율']
총자산증가율  = kospi[kospi['name_ko']=='총자산증가율']
영업이익이자보상비율 = kospi[kospi['name_ko']=='영업이익이자보상비율']
구_경상이익이자보상비율 = kospi[kospi['name_ko']=='(구)경상이익이자보상비율']
법인세차감전순이익이자보상비율 = kospi[kospi['name_ko']=='법인세차감전순이익이자보상비율']
순이익증가율 = kospi[kospi['name_ko']=='순이익증가율']
자기자본순이익율 = kospi[kospi['name_ko']=='자기자본순이익율']
매출액순이익율 = kospi[kospi['name_ko']=='매출액순이익율']
투하자본이익률 = kospi[kospi['name_ko']=='경영자본영업이익율']
EBITDA = kospi[kospi['name_ko']=='EBITDA']
유동비율 = kospi[kospi['name_ko']=='유동비율']
당좌비율 = kospi[kospi['name_ko']=='당좌비율']
재고자산회전율 = kospi[kospi['name_ko']=='재고자산회전율1']
매출채권회전율 = kospi[kospi['name_ko']=='매출채권회전율']
매출액 = kospi[kospi['name_ko']=='매출액']  #총자산필요(총자산회전율 fnspace)
영업이익율 = kospi[kospi['name_ko']=='매출액영업이익율']

In [138]:
리스트 = [부채비율,비유동자산장기적합율,영업활동현금흐름이자보상비율,매출액증가율,총자산증가율,영업이익이자보상비율,
 구_경상이익이자보상비율,법인세차감전순이익이자보상비율,순이익증가율,자기자본순이익율,매출액순이익율,투하자본이익률,
EBITDA,유동비율,당좌비율,재고자산회전율,매출채권회전율,매출액,영업이익율]

In [141]:
필요재무제표 = pd.concat([부채비율,비유동자산장기적합율,영업활동현금흐름이자보상비율,매출액증가율,총자산증가율,영업이익이자보상비율,
 구_경상이익이자보상비율,법인세차감전순이익이자보상비율,순이익증가율,자기자본순이익율,매출액순이익율,투하자본이익률,
EBITDA,유동비율,당좌비율,재고자산회전율,매출채권회전율,매출액,영업이익율],axis=0)

In [144]:
필요재무제표 = 필요재무제표.drop(['Unnamed: 0'],axis=1)

In [145]:
필요재무제표

,date,symbol,entity_name,type_id,report_id,account_id,name_ko,value
389,19961231,1880,DL건설,K,19,3060,부채비율,5.79
909,19971231,1880,DL건설,K,19,3060,부채비율,5.79
1416,19981231,1880,DL건설,K,19,3060,부채비율,6.09
1954,19991231,1880,DL건설,K,19,3060,부채비율,3.05
2499,20001231,1880,DL건설,K,19,3060,부채비율,2.39
...,...,...,...,...,...,...,...,...
5661004,20171231,267270,현대건설기계,K,19,2120,매출액영업이익율,0.05
5661511,20181231,267270,현대건설기계,K,19,2120,매출액영업이익율,0.06
5662081,20191231,267270,현대건설기계,K,19,2120,매출액영업이익율,0.05
5662663,20201231,267270,현대건설기계,K,19,2120,매출액영업이익율,0.03
5663263,20211231,267270,현대건설기계,K,19,2120,매출액영업이익율,0.04

In [149]:
필요재무제표.to_csv('코스피추출1.csv',index=False)

In [148]:
kospi2.to_csv('코스피추출2.csv',index=False)